body {
  background-color: #f0f0f0; /* Слегка серый фон для всей страницы */
  font-family: sans-serif;   /* Шрифт без засечек, более современный */
}

.resume-container {
    width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

h1 {
    color: #333333;
}

p {
    color: #555555;
}

img {
    max-width: 200px;
    width: 200px;
    height: 200px;
}

.header {
    display: flex;
    align-items: center;
}

.photo-container {
    margin-right: 30px;
}

.social-links h2 {
    margin-top: 40px;
}

.links-container {
    display: flex;
}

.links-container a {
    margin-right: 15px;
    color: #337ab7;
    text-decoration: none;
}

.links-container a:hover {
    text-decoration: underline;
    color: #23527c;
}

.main-layout {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}